.coop {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 100%;
    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
    }
    &-href{
      cursor: pointer;
      margin: 0 auto;
      font-weight: 700;
    }
    .submit-button{
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .error-message{
    color: red;
    text-align: center;
    font-size: 13px;
  }
}