@use '/app/assets/scss/variables' as *;
@use '/app/assets/scss/mixins' as m;

.toggle {
  &-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    .item {
      background-color: white;
      color: var(--black);
      display: flex;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 12px 20px;
      border: 1px solid var(--gray-400);
      border-radius: 30px;
      line-height: 1;
      cursor: pointer;
      user-select: none;

      svg {
        width: 24px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background-color: var(--gray-300);
        border-color: var(--black);
      }

      &.active {
        background-color: var(--black);
        border-color: var(--black);
        color: var(--white);
      }

      &:focus {
        position: relative;
        box-shadow: 0 0 0 2px var(--black-opacity);
      }

      @media(max-width: $md3 + px) {
        font-size: 14px;
        padding: 8px 12px;
      }
    }
  }
}
