.b2b-purchase-card {
  border-bottom: 1px solid var(--gray-100);
  padding: 0 0 16px 0;

  &__body {
    display: grid;
    font-size: 14px;
  }

  &__row {
    &.main-row {
      display: grid;
      grid-template-columns: 114px 115px 261px;
      gap: 32px;
      padding: 10px;

      & > .b2b-purchase-card__row-item:last-child {
        justify-self: end;
      }
    }

    &.details-row {
      display: grid;
      grid-template-columns: 114px 115px 115px 115px;
      gap: 32px;
      padding: 10px;
      align-items: center
    }
  }

  &__row-item {
    &.id {
      font-size: 13px;
    }

    &.quantity {
      font-weight: 700;
    }

    &.price {
      font-weight: 700;
    }

    &.label {
      font-size: 12px;
      color: var(--gray);
      margin-bottom: 10px;
    }
  }

  button {
    border-radius: 16px;
    width: 115px;
    height: 48px;
    background: var(--gray-300);
    border: none;
    color: var(--black);
    font-weight: 400;
    font-size: 12px;

    &:hover {
      background: var(--gray-400);
    }
  }

  @media (max-width: 768px) {
    &__row {
      &.main-row {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
      }
    }
  }
}