@use '/app/assets/scss/variables' as *;

.list {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap: 180px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 262px;

  &-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.text {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  line-height: 155%;

  &-img {
    color: var(--yellow);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.before {
    &:before {
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      flex: 0 0 10px;
      border-radius: 50%;
      background-color: var(--yellow);
    }
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  color: var(--gray);
}

@media (max-width: $md2 + px) {
  .list {
    padding-top: 120px;
    gap: 32px;
  }

  .item {
    max-width: 224px;

    &-title {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: $md3 + px) {
  .list {
    flex-direction: column-reverse;
    gap: 48px;
    padding: 108px 16px 56px;
  }

  .item {
    max-width: none;
    width: 100%;

    &-title {
      font-size: 20px;
    }
  }
}